{% extends 'base.html' %} 

{% block title %}
    Home page
{% endblock %} 

{%block content %} 

    <div class = "container"> 
        <h1 class="display-2">Flash Cards</h1> 
        <br> 
        <p class = "lead" > The web app you need for all of your memorization and studying</p>

        <ul class="list-unstyled" style = "font-weight:lighter">
            <li>Lorem ipsum dolor sit amet</li>
            <li>Consectetur adipiscing elit</li>
            <li>Integer molestie lorem at massa</li>
            <li>Facilisis in pretium nisl aliquet</li>
            <li>Nulla volutpat aliquam velit
              <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ul>
            </li>
            <li>Faucibus porta lacus fringilla vel</li>
            <li>Aenean sit amet erat nunc</li>
            <li>Eget porttitor lorem</li>
          </ul>
    </div>
{% endblock %} 