{% extends 'base.html' %} 

{% block title %} 
    Modify Cards
{% endblock %} 

{% block content %} 
<h1 style ="text-align : center; color:aliceblue">Edit your Decks</h1> 
    <table class="table table-hover table-dark" style = "display:flexbox;">
        <thead>
            <tr style = "text-align: center;">
                

                
                <th scope="col">Deck Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody style = "text-align: center;">
            {% for deck in decks %}

            <tr>
                    <td>{{deck.deck_name}}</td>
                    <td>{{deck.deck_description}}</td>
                    <td>
                        <button type="button" class="btn btn-primary"><a href = "{{url_for('editdeck', did = deck.deck_id)}}" style="color:whitesmoke"> Edit Deck </a></button>
      
                        <button type="button" class="btn btn-danger"><a href = "{{url_for('deletedeck', id = deck.deck_id)}}" style="color:whitesmoke"> Delete Deck </a></button>
                    </td>
                    <td> 
                        <button type="button" class="btn btn-success"><a href = "{{url_for('addcards', id  = deck.deck_id)}}" style="color:whitesmoke">Add cards</a></button>
                        <button type="button" class="btn btn-danger"><a href = "{{url_for('deletecards', id = deck.deck_id)}}" style="color:whitesmoke"> Delete cards </a></button>
                    </td>
                </tr>
            {% endfor %}                 
        </tbody>
    </table>
    
        <button type="button" class="btn btn-success btn-lg" style = "width: 100%;"><a href = "{{url_for('adddeck', id = user.user_id)}}" style="color:whitesmoke"> Add Deck </a></button>
        <span>  </span>
        <p> </p>
        <p></p>
        <button type="button" class="btn btn-primary btn-lg " style = "width:100%"><a href = "{{url_for('mycards', uid = user.user_id)}}" style="color:whitesmoke"> Review Deck </a></button>
         
    
{% endblock %} 
