{% extends 'base.html' %} 

{% block title %} Sysadmin {% endblock %} 

{% block content %} 

<h1 style ="text-align : center; color:aliceblue">{{users.user_name}} > {{decks.deck_name}} > </h1> 
<table class="table table-hover table-dark" style = "display:flexbox;">
    <thead>
        <tr style = "text-align: center;">
            

            
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
            <th scope="col">View</th>
            <th scope="col">Delete</th>
            
        </tr>
    </thead>
    <tbody style = "text-align: center;">
        {% for card in cards %}

            <tr>
                
                <td style = "color:green">{{card.card_question}}</td>
                <td style = "color:red">{{card.card_answer}}</td>
                <td><button type="button" class="btn btn-success"><a href = "//localhost:5000/sysview/{{card.card_id}}" style="color:whitesmoke">View Card</a></button></td>
                <td> 
                    <form method = "post" action = "//localhost:5000/sysview/{{card.card_id}}"><input type = "submit"  class = "btn btn-danger" value="Delete Card"> </form>
                </td>
            </tr>
        {% endfor %}                 
    </tbody>
</table>

{% endblock %} 